adbc_driver_manager==1.11.0
adbc_driver_postgresql==1.11.0
adbc_driver_sqlite==1.11.0
AppKit==0.2.8
argcomplete==3.7.0
attr==0.3.2
BeautifulSoup==3.2.2
botocore==1.43.48
brotli==1.2.0
brotlicffi==1.2.0.1
cchardet==2.1.7
chardet==7.4.3
checks==0.2
ConfigParser==7.2.0
cryptography==49.0.0
customtkinter==6.0.0
cycler==0.12.1
Cython==3.2.8
defusedxml==0.7.1
dl==0.1.0
docutils==0.23
docx2txt==0.9
eccodes==2.47.0
fastparquet==2026.5.0
ffpyplayer==4.5.3
filelock==3.29.7
findlibs==0.1.3
Foundation==0.1.0a0.dev1
fsspec==2026.6.0
h2==4.3.0
html5lib==1.1
HTMLParser==0.0.2
hypothesis==6.156.6
importlib_resources==7.1.0
inflect==7.5.0
inflect==7.3.1
ini2toml==0.15
ipython==9.10.0
ipywidgets==8.1.8
jnius==1.1.0
js==1.0
jupyter_core==5.9.1
keyring==25.7.0
kivy==2.3.1
langchain==1.3.13
lxml_html_clean==0.4.5
macholib==1.16.4
MarkupSafe==3.0.3
matplotlib==3.11.0
mtrand==0.1
nltk==3.9.2
numexpr==2.14.1
odfpy==1.4.1
olefile==0.47
openai==2.45.0
openpyxl==3.1.5
path.py==12.5.0
psutil==7.2.2
pyenchant==3.3.0
pygraphviz==2.0
pylsl==1.18.2
pyodide==0.0.2
pyOpenSSL==26.3.0
pypdf==6.14.2
pypemicro==0.1.11
pyinstaller==6.21.0
PyQt4==4.11.4
PyQt5==5.15.11
PyQt6==6.11.0
PySide2==5.15.2.1
PySide6==6.11.1
pytest==9.1.1
pytest_run_parallel==0.9.1
python_calamine==0.8.2
pyusb==1.3.1
pywin32==311
pyxlsb==1.0.10
PyYAML==6.0.2
PyYAML==6.0.3
qtpy==2.4.3
redis==8.0.1
s3fs==2026.6.0
scikit_learn==1.9.0
scipy==1.18.0
scipy_doctest==2.2.0
sentry_sdk==2.65.0
simplejson==4.1.1
Sphinx==9.1.0
SQLAlchemy==2.0.51
tables==3.11.1
thread==2.0.6
threadpoolctl==3.6.0
traitlets==5.15.1
trove_classifiers==2026.6.1.19
xattr==1.3.0
xlrd==2.0.2
xmlrpclib==1.0.1
xx==4.0.0
